.hero-section {
    padding-top: 109px;
    margin-bottom: 67px;
}

.hero {
    @include display($space: space-between);
    margin-bottom: 67px;
}

.hero__content-wrapper {
    max-width: 541px;
}

.hero__content-wrapper h1 {
    color: var(--cl-bl);
    font-size: 52px;
    font-weight: 600;
    line-height: 65px;
    margin-bottom: 40px;
}

.hero__content-wrapper p {
    color: var(--cl-gr);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
}

.hero__content-wrapper a {
    color: var(--cl-bl);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 10px;
    border-bottom: 3px solid #FFCE50;
}

.hero__img {
    width: 635px;
    height: 505px;
}

.hero-list {
    @include display($space: space-between);
    box-shadow: 0px 4px 20px 0px #00000026;
    padding: 40px 78px 40px 80px;
    border-radius: 20px;
}

.hero-list__item {
    padding-right: 105px;
    border-right: 1px solid #D7D7DD;
}

.hero-list__item:nth-child(2) {
    padding-left: 64px;
    padding-right: 121px;
}

.hero-list__item:nth-child(3) {
    border: none;
    padding-left: 64px;
    padding-right: 0;
}

.hero-list__item-contet-wrapper {
    width: 229px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.hero-list__item-img-wrapper {
    width: 92px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #E9E9EC;
    margin-bottom: 24px;
}

.hero-list__item-contet-wrapper h3 {
    color: var(--cl-bl);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
}

.hero-list__item-contet-wrapper p {
    color: var(--cl-gr);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}


@media (max-width: 1210px) {
    .hero {
        padding: 0 19px;
    }

    .hero__content-wrapper h1 {
        font-size: 44px;
        line-height: 55px;
    }

    .hero-list {
        flex-direction: column;
        box-shadow: none;
        gap: 16px;
        padding: 0 19px;
    }

    .hero-list__item {
        width: 100%;
        border: none;
        padding: 32px 140px 40px 32px;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px #0000001F;
    }

    .hero-list__item:nth-child(2) {
        padding: 32px 140px 40px 32px;
    }

    .hero-list__item:nth-child(3) {
        padding: 32px 140px 40px 32px;
    }

    .hero-list__item-contet-wrapper {
        width: 100%;
        flex-direction: row;
        align-items: center;
        gap: 32px;
        padding: 0;
    }

    .hero-list__item-img-wrapper {
        margin: 0;
    }

}

@media (max-width: 1180px) {
    .hero {
        flex-direction: column;
        gap: 73px;
    }

    .hero__content-wrapper {
        max-width: 690px;
        text-align: center;
    }

    .hero__img {
        width: 690px;
        height: 314px;
    }

}

@media (max-width: 720px) {
    .hero-list {
        box-shadow: 0px 4px 15px 0px #0000001F;
        padding: 24px 27px 32px 32px;
        gap: 24px;
    }

    .hero-list__item {
        box-shadow: none;
        padding: 0;
    }

    .hero-list__item:nth-child(2) {
        padding: 0;
    }

    .hero-list__item:nth-child(3) {
        padding: 0;
    }

    .hero-list__item-contet-wrapper {
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }

}

@media (max-width: 700px) {
    .hero__content-wrapper h1 {
        font-size: 28px;
        line-height: 35px;
    }

    .hero__content-wrapper p {
        font-size: 15px;
        line-height: 22px;
    }

    .hero__img {
        width: 100%;
        height: 253px;
    }
}

@media (max-width: 550px) {
    .hero__content-wrapper {
        text-align: left;
    }
}